---
layout: default
title: Noah Yi-Ting Hung
description: HCI researcher | Ph.D. student at the University of Washington
---

{% assign projects = site.data.project-main.project %}
{% assign news = site.data.news.list %}
{% assign musics = site.data.music.musics %}


<div class="container pt-3 pb-4">
    <div class="container vertical-center">
        <div class="row">
            <div class="d-none d-md-block col-12 col-md-4 col-xxl-3 align-self-center text-center">
                <img style = "width:100%; border-radius:78% 22% 78% 22% / 22% 78% 22% 78%" ; src="/assets/images/profile.png" class="w-100" style="max-width: 155px;"/>
            </div>
            <div class="col-12 col-md-8 col-xxl-9 ps-0 align-self-center">
                <h4><img class="flag" src="{{ 'assets/images/misc/kitty.svg' | relative_url }}"/> Noah Yi-Ting Hung <img class="flag" src="{{ 'assets/images/misc/flag.svg' | relative_url }}"/></h4>
                <p class="mt-3">I am PhD candidate in <a href="">Machine Learning and Data Science</a>, Department of Mathematics and Statistics at Georgia State University, under the guidance of Professor <a href="">Li-Hsiang Lin</a>. My research focuses on the intersection of machine learning, image science, and uncertainty control, with a particular interest in non-parametric modeling and portfolio optimization</p>
                <p>I received my Master's in Joint Statistics and Computer Science at <a href="">Purdue University</a>, where I worked with Professor <a href="">Qi Guo</a> on a computer vision project. Prior to starting my PhD, I was a graduate research assistant under the supervision of Professor <a href="">Henry Horng-Shing Lu</a>, working on deep mixture density networks. I completed my undergraduate studies at <a href="">National Taiwan University</a>, working with <a href="">Ku-Wei Liao</a> on reliability research. </p>
            
            <p style="background-color: white; position:relative; font-size:.95rem;font-weight: 500;line-height: 2rem;" class="myemail">
    
            <a href="mailto:yhung7@gsu.edu" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope" style="font-weight: 500;margin-left:12.5px;padding-right:10px;margin-right:2px" aria-hidden="true"></i></a><span style="padding-left:10px; padding-right:10px">yhung7@gsu.edu</span><span class="small-screen-br"></span><a style="font-weight: 500;margin-left:0.5px;padding-right:10px;margin-right:10px" href="https://scholar.google.com/citations?user=uhPzWCEAAAAJ&hl=en" target="_blank" rel="noopener noreferrer"><i class="fa fa-graduation-cap" style="margin-left: 10px;margin-right: 9px;font-size: 16.5px;"></i>g-scholar</a>
            <!--<a style="font-weight: 500;margin-left:12.5px;padding-right:10px;margin-right:10px" href="https://drive.google.com/file/d/1UKFflnVb_Tys2lncaU56uxMfYAgL-0Dv/view?usp=sharing" target="_blank" rel="noopener noreferrer"><i class="fa fa-file" style="margin-left: 10px;margin-right: 10px;font-size: 15.5px;"></i><span style="font-size:.98rem">cv</span> <span style="font-size:.8rem">(08/2024)</span></a>-->
            </p>
            </div>
        </div>

    </div>
</div>


<div class="container pb-3 px-0 px-md-3" id="research" style="padding-top: 2rem;">
    <h4 style="font-weight: 600 !important; padding-bottom: .5rem;">✎<span style="font-size: 0.6rem">ᝰ.</span> Publication</h4>
 <p style="font-size:.85rem"> 
        <!-- Research Statement -->
          I am eager to learn and join exciting AI and uncertainty qualification projects. Please do not hesitate to <a href="mailto:yhung7@gsu.edu" target="_blank" rel="noopener noreferrer">reach out for collaboration!!</a>
        </p>
    <div class="row mt-4">
        


    <!-- SDAMI -->
    <div class="col-12 col-md-2  align-self-center mb-4 mb-md-0">
      <img src="assets/images/SDAMI.png" width="100%" style="vertical-align: middle;" alt="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model." title="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model."><br><br>
    </div>
<div class="col-12 col-md-10 align-self-center mb-4 mb-md-0">
  <p class="mb-1" style="font-size: 1rem; font-weight: 500 !important;"><img src="assets/images/spline.png" width="3.0%" style="min-width:30px; vertical-align: bottom;margin-top:-5%"> &nbsp;Sparse Deep Additive Model with Interactions: Enhancing Interpretability and Predictability</p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><strong>Noah Yi-Ting Hung</strong>, Li-Hsiang Lin, Vince D. Calhoun; <i>(Submitted.)</i></p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><span style="font-weight: 400;font-size:.8rem;background-color:rgba(255, 105, 24, 0.251); ">&nbsp;arXiv 2025&nbsp;</span>  Recent advances in deep learning highlight the need for personalized models that can learn from small or moderate samples, handle high-dimensional features, and remain interpretable. To address this challenge, we propose the Sparse Deep Additive Model with Interactions (SDAMI), a framework that combines sparsity-driven feature selection with deep subnetworks for flexible function approximation. Unlike conventional deep learning models, which often function as black boxes, SDAMI explicitly disentangles main effects and interaction effects to enhance interpretability. </p>
  <p style="font-size: .9rem; font-weight: 300 !important;" class="nonselectable">
    <a href="https://arxiv.org/pdf/2501.01376" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<i class="fa fa-file">
    </i>&nbsp;&nbsp;PDF&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp; 
    <a href="https://arxiv.org/abs/2509.23068" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<img src="assets/images/logo/arxiv-logo.svg" style="height: 1rem; filter: brightness(0%);">&nbsp;&nbsp;arXiv&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:b_GfGgaFiG8J:scholar.google.com/&output=citation&scisdr=ClGoFMUSEKK15T3uSCo:AFWwaeYAAAAAZ4HoUCrnQQCSvrSnmtugQtPxYM4&scisig=AFWwaeYAAAAAZ4HoUNCqQetwvyjBSBb-HE2byf4&scisf=4&ct=citation&cd=-1&hl=en
" target="_blank" rel="noopener noreferrer" class="hyperlinkn">&nbsp;&nbsp;<i class="fa fa-quote-right"></i>&nbsp;&nbsp;BibTeX&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  </p><hr></div>


      <!-- Deep P-Spline -->
    <div class="col-12 col-md-2  align-self-center mb-4 mb-md-0">
      <img src="assets/images/DPS.png" width="100%" style="vertical-align: middle;" alt="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model." title="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model."><br><br>
    </div>
<div class="col-12 col-md-10 align-self-center mb-4 mb-md-0">
  <p class="mb-1" style="font-size: 1rem; font-weight: 500 !important;"><img src="assets/images/spline.png" width="3.0%" style="min-width:30px; vertical-align: bottom;margin-top:-5%"> &nbsp;Deep P-Spline: Theory, Fast Tuning, and Application</p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><strong>Noah Yi-Ting Hung</strong>, Li-Hsiang Lin, Vince D. Calhoun; <i>(Under Revison.)</i></p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><span style="font-weight: 400;font-size:.8rem;background-color:rgba(255, 105, 24, 0.251); ">&nbsp;arXiv 2025&nbsp;</span>  We introduce a difference penalty that automates knot selection, thereby simplifying the complexities of neuron selection. We name this method Deep P-Spline (DPS). This approach extends the class of models considered in conventional DNN modeling and forms the basis for a latent variable modeling framework using the Expectation-Conditional Maximization (ECM) algorithm for efficient network structure tuning with theoretical guarantees. </p>
  <p style="font-size: .9rem; font-weight: 300 !important;" class="nonselectable">
    <a href="https://arxiv.org/pdf/2501.01376" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<i class="fa fa-file">
    </i>&nbsp;&nbsp;PDF&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp; 
    <a href="https://arxiv.org/abs/2501.01376" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<img src="assets/images/logo/arxiv-logo.svg" style="height: 1rem; filter: brightness(0%);">&nbsp;&nbsp;arXiv&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:b_GfGgaFiG8J:scholar.google.com/&output=citation&scisdr=ClGoFMUSEKK15T3uSCo:AFWwaeYAAAAAZ4HoUCrnQQCSvrSnmtugQtPxYM4&scisig=AFWwaeYAAAAAZ4HoUNCqQetwvyjBSBb-HE2byf4&scisf=4&ct=citation&cd=-1&hl=en
" target="_blank" rel="noopener noreferrer" class="hyperlinkn">&nbsp;&nbsp;<i class="fa fa-quote-right"></i>&nbsp;&nbsp;BibTeX&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  </p><hr></div>



<!-- Semi Markov -->
    <div class="col-12 col-md-2  align-self-center mb-4 mb-md-0">
      <img src="assets/images/smc.png" width="100%" style="vertical-align: middle;" alt="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model." title="An overview of Generative Disco, a generative AI system that facilitates text-to-video generation for music visualization using a large language model and a text-to-image model."><br><br>
    </div>
<div class="col-12 col-md-10 align-self-center mb-4 mb-md-0">
  <p class="mb-1" style="font-size: 1rem; font-weight: 500 !important;"><img src="assets/images/bridge.jpg" width="3.0%" style="min-width:30px; vertical-align: bottom;margin-top:-5%"> &nbsp;Semi-Markov process-driven maintenance scheduling for Tainter gate system considering multiplelimit states</p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;">John Thedy, Kuo-Wei Liao, <strong>Noah Yi-Ting Hung</strong>; <i>(Accepted.)</i></p>
  <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><span style="font-weight: 400;font-size:.8rem;background-color:rgba(255, 105, 24, 0.251);">&nbsp;JSHM 2024&nbsp;</span>  Adopting the Semi-Markov Process, which accommodates non-exponential distribution of state durations, to formulate optimal maintenance strategies for Tainter gate systems that are noted for their prolonged dormancy and significant operational uncertainties.</p>
  <p style="font-size: .9rem; font-weight: 300 !important;" class="nonselectable">
    <a href="https://journals.sagepub.com/doi/10.1177/14759217241277969" target="_blank" rel="noopener noreferrer">&nbsp;&nbsp;<i class="fa fa-file">
    </i>&nbsp;&nbsp;PDF&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp; 
    <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:nK1RNG6n0kIJ:scholar.google.com/&output=citation&scisdr=ClGoFMUSEKK15T3g8DE:AFWwaeYAAAAAZ4Hm6DEkVJJVDmEJeay2SPKe6Oc&scisig=AFWwaeYAAAAAZ4Hm6BrEaWSuALKRMhOodRJM-BI&scisf=4&ct=citation&cd=-1&hl=en" target="_blank" rel="noopener noreferrer" class="hyperlinkn">&nbsp;&nbsp;<i class="fa fa-quote-right"></i>&nbsp;&nbsp;BibTeX&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  </p><hr></div>


</div>
</div>

<div class="container">
    <h4 style="font-weight: 600 !important; padding-bottom: .5rem;">✎<span style="font-size: 0.6rem">ᝰ.</span> Recent projects</h4>
    <!--<p style="font-weight: 500 !important; text-transform: uppercase;">Recent projects</p>-->
	<div class="scroller">
		<div class="scroller-inner">
            {% for project in projects %}
			<div class="paper-container non-select">
                <img src="{{ '/assets/images/main-project/' | append: project.image | relative_url }}" alt="" style="height: auto; width: 100%;">
                <p class="pt-2 mt-md-2" style="font-size: .85rem; font-weight: 300 !important; line-height: 1rem; text-align: center;">{{ project.title }}{% if project.venue %}<a class="project-venue" href="{{ project.slug | prepend: 'publication/' | relative_url }}">{{ project.venue }}</a>{% endif %}</p>
			</div>
            {% endfor %}
		</div>
	</div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'project' | relative_url }}" class="view-all">> View All</a>
    </div>
</div>

<div class="container pb-3 px-0 px-md-3" id="news" style="padding-top: 3rem;">
  <h4 style="font-weight: 600 !important; padding-bottom: .5rem;">✎<span style="font-size: 0.6rem">ᝰ.</span> News</h4><br>
    <div class="col-12">
        <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> Aug 2025 </span><br>
      <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;"> Presented our work, "<span style="font-weight: 400;font-size:.8rem;background-color:rgba(55, 155, 24, 0.251); ">&nbsp;<i>Deep P-Spline: Fast Tuning, Theory, and Application</i>&nbsp;</span>" during the 2025 CAPASUS Conference in Atlanta, Georgia! </p>
      <br>
      <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> Feb 2025 </span>
      <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;"> The paper <span style="font-weight: 400;font-size:.8rem;background-color:rgba(55, 155, 24, 0.251); ">&nbsp;<i>Deep P-Spline: Fast Tuning, Theory, and Application</i>&nbsp;</span> was selected as a winner for SPES + Q&P Student Paper Competition. I will present our work during the 2025 Joint Statistical Meetings (JSM) in Nashville, Tennessee! </p>
      <br>
      <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> Jan 2025 </span>
      <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;"> Headed for University of Florida Department of Statistics’ Annual Winter Workshop (WW 2025) </p>
  </div>

    </div>
    <details style="display: inline-block; font-size: 16px">
      <summary style="padding-left:5px; margin-top:5px; margin-bottom:-10px; font-size: 16px"><span style="font-size: 14px"> See More</span></summary>
      <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block">



      </p><div class="col-12">
        <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> Jan 2025 </span>
        <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;"> Headed for University of Florida Department of Statistics’ Annual Winter Workshop (WW 2025) </p></div>
      
        <div class="col-12">
        <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> May 2023 </span>
        <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;"> Attended to Chicaog for Midwest Machine Learning Symposium (MMLS 2023) for poster.</p></div>
      
</details>

<!--
<div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
    <div class="row mt-4">
        {% for new in news limit: 4 %}
        <div class="col-12 col-sm-6">
            <p class="mb-0" style="font-weight: 400 !important;">{{ new.title }}</p>
            <p class="mb-1" style="font-size: .8rem; font-weight: 200 !important;">{{ new.date | date: "%b %-d, %Y" }}</p>
            <p style="font-weight: 300 !important;">{{ new.description }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'news' | relative_url }}" class="view-all">> View All</a>
    </div>
</div>
<div class="container">
    <div class="d-flex flex-row-reverse mt-4">
        <p class="misc-news"><i class="fa-solid fa-music" style="margin-right: .5rem;"></i>Check out my GarageBand cover of <a href="{{ '/music/' | relative_url }}"><span style="white-space: nowrap;">Girls' Generation</span> - <span style="white-space: nowrap;">Into the New World</span></a></p>
    </div>
</div>
-->
<script>
	function addAnimation(scrollers) {
		scrollers.forEach((scroller) => {
			scroller.setAttribute("data-animated", true);

			const scrollerInner = scroller.querySelector(".scroller-inner");
			const scrollerContent = Array.from(scrollerInner.children);
            
			scrollerContent.forEach((item) => {
				const duplicatedItem = item.cloneNode(true);
				duplicatedItem.setAttribute("aria-hidden", true);
				scrollerInner.appendChild(duplicatedItem);
			});
		});
	}
	const scrollers = document.querySelectorAll(".scroller");
	addAnimation(scrollers);
</script>
